* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

input,
button,
select {
	padding: 0.2rem 0.5rem;
	outline: none;
	border: 2px solid blueviolet;
	border-radius: 3px;
	font-size: inherit;
}

.imageUrlInput,
.textContentInput {
	width: 100%;
}

.mainContainer {
	margin-top: 1rem;
	border: 2px solid rgba(112, 128, 144, 0.204);
	width: max-content;
	background-color: aliceblue;
}

.inputsContainer {
	width: fit-content;
	width: 500px;
}

.outputPreviewContainer,
.inputsContainer {
	padding: 0.5rem;
}

.mainContainer,
.customizationContainer,
.inputsContainer {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 0.5rem;
}

.customizationContainer {
	flex-direction: row;
	gap: 1rem;
}

.imageWidthInput {
	width: 100%;
}

.textContentInput {
	height: 5rem;
	font-size: 0.9rem;
	border: 2px solid black;
	height: 100%;
	padding: 0.5rem;
}

.outputPreviewButton {
	width: 100%;
}

.outputPreviewContainer {
	width: 100%;
	max-width: 700px;
	display: flex;
	gap: 0.5rem;
	align-items: flex-start;
	outline: 1px solid rgb(220, 235, 249);
}

.outputImageContainer {
	/* border: 2px solid red; */
	object-fit: contain;
}

.outputTextContainer {
	font-size: 0.9rem;
	/* border: 2px solid blue; */
	padding: 0.5rem;
}

[contenteditable="true"]:empty:before {
	content: attr(placeholder);
	pointer-events: none;
	display: block; /* For Firefox */
}
